{% extends "blog/base.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>It is a simple blog, where people can register in 1 minute
        and start to write their own posts. </p>
    <p>At <span style="font-weight:bold">"Home"</span> page you can see all the posts.
        You can filter posts of specific author by simply clicking nickname.
        You can update or delete your post after clicking its header.
    </p>
    <p>At <span style="font-weight:bold">"New post"</span> page you can create a new post.</p>
    <p>At <span style="font-weight:bold">"Profile"</span> page you can see
        and update your personal information.</p>
{% endblock content %}
